name: .NET Framework

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
 
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v2.0.0
      name: Checkout Code
     
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.0
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
     
    - name: Restore NuGet Packages
      run: nuget restore QuickDictionary.sln
 
    - name: Build App
      run: msbuild QuickDictionary.sln /p:Configuration=Release /p:Platform=x64
 
    - name: Upload Artifact
      uses: actions/upload-artifact@v2.2.1
      with:
        name: releases_x64
        path: QuickDictionary\Releases
